@{
    ViewBag.Title = "Inicio";
}

<h1> SIMULADOR</h1>
<h2> Bienvenido, @Session["Usuario"]</h2>

<h3> Elige tu vehículo</h3>

<div class="contenedor">
    @foreach (var v in ViewBag.Vehiculos)
    {
        <form method="post" action="/Home/SeleccionarVehiculo">
            <div class="card">
                <h3>@v.Nombre</h3>
                <p>⚡ Velocidad: @v.Velocidad</p>

                <input type="hidden" name="idVehiculo" value="@v.IdVehiculo" />
                <input type="hidden" name="velocidad" value="@v.Velocidad" />

                <button type="submit">JUGAR</button>
            </div>
        </form>
    }
</div>

<a href="/Home/Ranking">
    <button class="ranking"> Ver Ranking</button>
</a>

<style>
    body {
        background: black;
        color: white;
        text-align: center;
        font-family: Arial;
    }

    .contenedor {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 40px;
    }

    .card {
        background: #222;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 0 20px cyan;
        width: 200px;
        transition: 0.3s;
    }

        .card:hover {
            transform: scale(1.1);
            box-shadow: 0 0 30px lime;
        }

    button {
        margin-top: 10px;
        padding: 10px;
        background: cyan;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

        button:hover {
            background: lime;
        }

    .ranking {
        margin-top: 40px;
        padding: 15px;
        background: gold;
        color: black;
        font-weight: bold;
    }
</style>